<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            Office 4-365 <br>
            Carlson School of Management <br>
            321-19th Ave S <br>
            Minneapolis, Minnesota
          </li>
          <li>
            Email: yang3653 [at] umn [dot] edu
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>Scholar Page: <a href="xxx" target="_blank">Google Scholar</a></li>
          <li>SSRN Page: <a href="https://ssrn.com/author=2463104" target="_blank">SSRN</a></li>
          <li>Code: <a href="https://github.com/mochenyang" target="_blank">Github</a></li>
          <li>Curriculum Vitae: <a href="../file/CV.pdf" target="_blank">CV</a></li>
        </ul>
      </div>

  </div>

</footer>