<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            Kelley School of Business <br>
            1309 E 10th St, HH4115 <br>
            Bloomington, IN 47405
          </li>
          <li>
            Email: yangmo [at] iu [dot] edu
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>Scholar Page: <a href="https://scholar.google.com/citations?user=GBchV38AAAAJ&hl=en" target="_blank">Google Scholar</a></li>
          <li>SSRN Page: <a href="https://ssrn.com/author=2463104" target="_blank">SSRN</a></li>
          <li>Code: <a href="https://github.com/mochenyang" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>